a {
    cursor: pointer;
}
.margin-left {
	margin-left: 20px;
}

.main {
	margin-top: 20px;
}

.btn-main {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

#add-payment {
	max-height: 90%;
}

.click-icon {
    cursor: pointer;
}
