  <a class="btn-floating btn-large waves-effect waves-light red btn-main teal modal-trigger" href="#add-payment"><i class="material-icons">add</i></a>

  <div class="row">
    <div class="col s3">
      <div class="collection z-depth-1">
        <a class="collection-item" ng-repeat="wallet in wallets" ng-class="{active: wallet.title==wallet_filter}" ng-click="wallet_filter='{{ wallet.title }}'">{{ wallet.title }}</a>
        <a href="#!" class="collection-item" ng-click="wallet_filter=''" ng-class="{active: wallet_filter=''}">All</a>
      </div>
      <div class="collection z-depth-1">
        <a class="collection-item">Today</a>
        <a class="collection-item">Week</a>
        <a class="collection-item">Month</a>
        <a class="collection-item">Year</a>
        <a class="collection-item active">All-time</a>
      </div>
      <div class="collection z-depth-1">
        <a class="collection-item">Pending</a>
        <a class="collection-item active">Accepted</a>
        <a class="collection-item">All</a>
      </div>
    </div>
    <div class="col s9">
      <div class="row">
        <nav class="grey lighten-2">
          <div class="nav-wrapper">
            <form>
              <div class="input-field">
                <input id="search" type="search" required ng-model="searchQuery">
                <label for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
              </div>
            </form>
          </div>
        </nav>
      </div>

      <div class="row">
        <div class="col s12 m12">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text center-align">
              <span class="left">EARNED: 100$</span>
              <span class="center">BALANCE: 80$</span>
              <span class="right">SPENT: 20$</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <ul class="collapsible popout list" data-collapsible="accordion">
          <li ng-repeat="payment in payments | filter: searchQuery | orderBy: 'date' | filter: wallet_filter:strict | filter: {accepted: accepted_filter}">
            <div class="collapsible-header">
              <i ng-show="payment.type" class="material-icons green-text">call_made</i>
              <i ng-show="!payment.type" class="material-icons red-text">call_received</i>
              <b>{{ payment.sum }} </b> {{ payment.currency.symbol }} 
              <b class="margin-left">{{ payment.title }}</b>
              <i class="material-icons right" ng-click="remove_payment(payment)">delete</i>
              <span class="right">FROM: <b>{{ payment.wallet.title }}</b></span>
              <i class="material-icons right" ng-show="!payment.accepted" ng-click="accept_payment(payment)">done</i>
            </div>
            <div class="collapsible-body"><p>{{ payment.description }}</p></div>
          </li>
        </ul>
      </div>

    </div>
  </div>

  <div id="add-payment" class="modal">
    <div class="modal-content">
      <div class="col s12" ng-include src="'/static/ng/add-payment.html'">

      </div>
    </div>
  </div>

  <script type="text/javascript" src="/static/js/materialize.min.js"></script>
  <script type="text/javascript">
   $('.modal-trigger').leanModal();
 </script>