<div class="row">
  <div class="col s3">
    <div class="collection z-depth-1">
      <a class="collection-item">Wallets</a>
      <a class="collection-item">Currencies</a>
    </div>
  </div>

  <div class="col s9">
    <ul class="collection">
    <li class="collection-item" ng-repeat="currency in currencies">{{ currency.title }} (<b>{{ currency.symbol }}</b>)
        <i class="material-icons right click-icon" ng-click="remove_currency(currency)">delete</i>
        <i class="material-icons right click-icon" ng-click="edit_currency(currency)">edit</i>
        <i class="material-icons right click-icon" ng-click="make_main_currency(currency)">star</i>
      </li>
    </ul>
    <div class="card-panel" >
      <form novalidate class="css-form">
        <div class="row">
          <div class="input-field col s7">
            <input id="icon_prefix" type="text" class="validate" ng-model="currency.title" required>
            <label for="icon_prefix">Title</label>
          </div>
          <div class="input-field col s5">
            <input id="icon_prefix" type="text" class="validate" ng-model="currency.symbol" required>
            <label for="icon_prefix">Symbol</label>
          </div>
          <div class="row">
            <div class="col s12 center-align">
              <button class="btn waves-effect waves-light btn-large" type="submit" name="action" ng-click="add_payment(payment)">ADD
                <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <ul class="collection">
      <li class="collection-item" ng-repeat="wallet in wallets">
        {{ wallet.title }} ({{ wallet.currency.title }})
        <i class="material-icons right click-icon" ng-click="remove_wallet(wallet)">delete</i>
        <i class="material-icons right click-icon" ng-click="edit_wallet(wallet)">edit</i>
      </li>
    </ul>
    <div class="card-panel" >
      <form novalidate class="css-form">
        <div class="row">
          <div class="input-field col s4">
            <input id="icon_prefix" type="text" class="validate" ng-model="wallet.title" required>
            <label for="icon_prefix">Title</label>
          </div>
          <div class="input-field col s4">
            <input id="icon_prefix" type="number" class="validate" ng-model="currency.symbol" required>
            <label for="icon_prefix">Balance</label>
          </div>
          <div class="input-field col s4">
            <select class="browser-default" ng-model="payment.wallet">
              <option value="" disabled selected>Currency</option>
              <option value="{{ currency._id }}" ng-repeat="currency in currencies">{{ currency.title }}</option>
            </select>
          </div>
          <div class="row">
            <div class="col s12 center-align">
              <button class="btn waves-effect waves-light btn-large" type="submit" name="action" ng-click="add_payment(payment)">ADD
                <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>