<div class="container">
    <div class="row">
        <div class="col s8 offset-s2">
            <div class="card light-grey">
                <div class="card-content blue-grey-text">
                    <form action="" method="post" accept-charset="utf-8">
                    <div class="input-field col s12">
                    <span class="card-title teal-text">Sign in</span>
                    </div>
                        <div class="input-field col s12">
                          <input id="first_name" type="email" class="validate">
                          <label for="first_name">Email</label>
                      </div>
                      <div class="input-field col s12">
                          <input id="first_name" type="password" class="validate">
                          <label for="first_name">Password</label>
                      </div>
                      <div class="input-field col s12">
                          <button type="submit" class="btn waves-effect waves-light teal">
                            Sign In
                        </button>
                    </div>
                                                    </form>

                </div>

            <div class="card-action">
                <a href="#/sign-up" class="teal-text">Sign up</a>
            </div>
        </div>
    </div>
</div>
</div>