{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'Sign Up' %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s8 offset-s2">
                <div class="card light-grey">
                    <div class="card-content blue-grey-text">
                        <span class="card-title light-blue-text">Sign up</span>
                        <form action="{{request.path}}" method="post" accept-charset="utf-8">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn waves-effect waves-light orange">
                                {% trans 'Sign Up' %}
                            </button>
                        </form>
                    </div>
                    <div class="card-action">
                        <a href="{% url 'sign-in' %}">Sign in</a>
{#                        <a href="/accounts/password-reset/">Forgot password?</a>#}
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{%  block extra_footer%}
{% endblock %}