<form novalidate class="css-form">
<input ng-model="some_model" />
{{ some_model }}

  <div class="row">
    <div class="input-field col s12">
      <input id="icon_prefix" type="text" class="validate" ng-model="payment.title" required>
      <label for="icon_prefix">Title</label>
    </div>

    <div class="input-field col s12">
      <textarea id="textarea1" class="materialize-textarea" ng-model="payment.description" required></textarea>
      <label for="textarea1">Description</label>
    </div>
    <div class="input-field col s4">
      <input id="icon_prefix" type="text" class="validate" ng-model="payment.sum">
      <label for="icon_prefix">Sum</label>
    </div>
    <div class="input-field col s4">
      <select class="browser-default" ng-model="payment.currency">
        <option value="" disabled selected>Currency</option>
        <option value="{{ currency._id }}" ng-repeat="currency in currencies">{{currency.title}}</option>
      </select>
    </div>
    <div class="input-field col s4">
      <select class="browser-default" ng-model="payment.wallet">
        <option value="" disabled selected>Wallet</option>
        <option value="{{ wallet._id }}" ng-repeat="wallet in wallets">{{ wallet.title }}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s4">
      <div class="switch">
        <label>
          Outcome
          <input type="checkbox" ng-model="payment.type">
          <span class="lever"></span>
          Income
        </label>
      </div>
    </div>
    <div class="input-field col s4">
     <input type="date" class="datepicker" ng-model="payment.date">
     <label>Date</label>
   </div>
   <div class="input-field col s4">
     <input type="checkbox" id="accepted" ng-model="payment.accepted"/>
     <label for="accepted">Accepted</label>
   </div>
 </div>

 <div class="row">
  <div class="col s12 center-align">
    <button class="btn waves-effect waves-light btn-large" type="submit" name="action" ng-click="add_payment(payment)">Submit
      <i class="material-icons right">send</i>
    </button>
  </div>
</div>
</form>

<script type="text/javascript">
  $(document).ready(function (argument) {
   $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15,
    format: 'yyyy/mm/dd',
    closeOnSelect: true
  });
 })
</script>